<div class="text-center mt-3">
  <h2>
    Meet Our Paper People: {{ pagination?.totalItems || 0 }} Members in Dunder
    Mifflin Infinity!
  </h2>
</div>

<div class="container mt-3" *ngIf="userParams">
  <form
    #form="ngForm"
    class="d-flex mb-3"
    (ngSubmit)="loadMembers()"
    autocomplete="off"
  >
    <div class="col">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-primary"
          name="orderBy"
          [(ngModel)]="userParams.orderBy"
          btnRadio="lastActive"
          (click)="loadMembers()"
        >
          Last Active
        </button>
        <button
          type="button"
          class="btn btn-primary"
          name="orderBy"
          [(ngModel)]="userParams.orderBy"
          btnRadio="joined"
          (click)="loadMembers()"
        >
          Newest Members
        </button>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-2" *ngFor="let member of members">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [maxSize]="10"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
