<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <!-- <svg
        class="bi me-2"
        width="40"
        height="32"
        role="img"
        aria-label="Bootstrap"
      >
        <use xlink:href="#bootstrap"></use>
      </svg> -->
      DM
    </a>

    <!-- class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active"
            >Members</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"
            >List</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>
      </ng-container>
    </ul>

    <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
      <input
        type="search"
        class="form-control form-control-dark text-bg-dark"
        placeholder="Search..."
        aria-label="Search"
      />
    </form> -->

    <form
      #loginForm
      class="d-flex"
      *ngIf="!(accountService.currentUser$ | async)"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Password"
      />
      <button type="submit" class="btn btn-primary my-2 my-sm-0">Login</button>
      <!-- <button type="button" class="btn btn-warning">Signup</button> -->
    </form>

    <div
      dropdown
      class="dropdown text-end"
      *ngIf="accountService.currentUser$ | async as user"
    >
      <a
        dropdownToggle
        class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://avatars.githubusercontent.com/u/32820640?v=4"
          alt="pp"
          width="48"
          height="48"
          class="rounded-circle"
        />
      </a>
      <ul *dropdownMenu class="dropdown-menu text-small">
        <li><a class="dropdown-item">Settings</a></li>
        <li><a class="dropdown-item">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>
