<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a
      class="navbar-brand"
      [href]="(accountService.currentUser$ | async) ? '/members' : '/'"
    >
      DM
    </a>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/members"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Members</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/likes" routerLinkActive="active"
            >Likes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>
        <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active"
            >Admin
          </a>
        </li>
      </ng-container>
    </ul>

    <form
      #loginForm
      class="d-flex"
      *ngIf="!(accountService.currentUser$ | async)"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Password"
      />
      <button type="submit" class="btn btn-primary my-2 my-sm-0">Login</button>
    </form>

    <div
      dropdown
      class="dropdown text-end"
      *ngIf="accountService.currentUser$ | async as user"
    >
      <a
        dropdownToggle
        class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="{{ user.photoUrl || './assets/user.png' }}"
          alt="user photo"
          width="48"
          height="48"
          class="rounded-circle"
        />
      </a>
      <ul *dropdownMenu class="dropdown-menu text-small">
        <li>
          <a routerLink="/member/edit" class="dropdown-item">Edit profile</a>
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>
