<div class="row mb-3" *ngIf="member">
  <div class="col-2 mb-1" *ngFor="let photo of member.photos">
    <img src="{{ photo.url }}" alt="photo of user" class="img-thumbnail mb-1" />
    <div class="text-center">
      <button
        class="btn btn-sm"
        [disabled]="photo.isMain"
        (click)="setMainPhoto(photo)"
        [ngClass]="photo.isMain ? 'btn-success active' : 'btn-outline-success'"
      >
        Main
      </button>
      <button
        class="btn btn-sm btn-danger"
        [disabled]="photo.isMain"
        (click)="deletePhoto(photo.id)"
      >
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div
      class="card bg-faded p-3 text-center mb-3 my-drop-zone"
      ng2FileDrop
      [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
      (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
    >
      <h4>Upload Photos</h4>
      <i class="fa fa-upload fa-3x"></i>
      Drop here <br />
      or

      <button class="btn btn-primary" (click)="fileInput.click()">
        Browse...
      </button>
      <input
        hidden
        #fileInput
        type="file"
        ng2FileSelect
        multiple
        [uploader]="uploader"
      />
    </div>
  </div>

  <div class="col-8" *ngIf="uploader?.queue?.length">
    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader?.queue">
          <td>
            <strong>{{ item?.file?.name }}</strong>
          </td>
          <td *ngIf="uploader?.options?.isHTML5" nowrap>
            {{ item?.file?.size / 1024 / 1024 | number : ".2" }} MB
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div class="mb-3">
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            [ngStyle]="{ width: uploader?.progress + '%' }"
          ></div>
        </div>
      </div>
      <div class="btn-group d-flex" role="group">
        <button
          type="button"
          class="btn btn-success btn-s"
          (click)="uploader?.uploadAll()"
          [disabled]="!uploader?.getNotUploadedItems()?.length"
        >
          <span class="fa fa-upload"></span> Upload all
        </button>
        <button
          type="button"
          class="btn btn-warning btn-s"
          (click)="uploader?.cancelAll()"
          [disabled]="!uploader?.isUploading"
        >
          <span class="fa fa-ban"></span> Cancel all
        </button>
        <button
          type="button"
          class="btn btn-danger btn-s"
          (click)="uploader?.clearQueue()"
          [disabled]="!uploader?.queue?.length"
        >
          <span class="fa fa-trash"></span> Remove all
        </button>
      </div>
    </div>
  </div>
</div>
